<div class="container-fluid refueling-container">
  <div class="d-flex flex-column">
    <div class="row">
      <div class="col col-12">
        <div class="d-flex p-2 border-bottom mt-3">
          <button class="btn btn-lg btn-outline-primary text-center" data-toggle="modal"
                  data-target="#addRefuelingModal" (click)="getTrips()">
            <span><i class="fa fa-plug"></i></span>
            <br>Dodaj tankowanie
          </button>
        </div>
      </div>
    </div>

    <!-- Notification for no refuelings -->
    <div class="row">
      <div *ngIf="refuelings?.length == 0 else noEmptyList" class="p-2 col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading text-center"><i class="fa fa-exclamation-triangle"></i> BRAK TANKOWAŃ W BAZIE!
          </h4>
          <p class="text-center">Naciśnij przycisk 'Dodaj tankowanie' aby dodać nowe tankowanie.</p>
        </div>
      </div>
    </div>

    <!-- Return to main page button -->
    <div class="row">
      <div class="col col-12 d-flex flex-row-reverse">
        <a href="/">
          <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do strony głównej</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- List of refuelings -->
<ng-template #noEmptyList>
  <div class="col col=12">
    <h1 class="display-4 fw-bold lh-1 border-bottom">Lista tankowań:</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Data</th>
        <th scope="col" class="text-center">Stan licznika</th>
        <th scope="col" class="text-center">Ilość paliwa</th>
        <th scope="col" class="text-center">Koszt</th>
        <th scope="col" class="text-center">Wyjazd</th>
        <th scope="col" class="text-center">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let refueling of refuelings">
        <th scope="row" class="text-center align-middle">{{refueling.id}}</th>
        <td class="text-center align-middle">{{refueling.date}}</td>
        <td class="text-center align-middle">{{refueling.meterStatus}}</td>
        <td class="text-center align-middle">{{refueling.fuelAmount}}</td>
        <td class="text-center align-middle">{{refueling.refuelingCost}}</td>
        <td class="text-center align-middle">{{refueling.trip.departureDate}} - {{refueling.trip.returnDate}}</td>
        <td>
          <div class="d-flex justify-content-end btn-group" role="group">
            <a href="/refueling/{{refueling.id}}">
              <button class="btn btn-outline-info m-1"><i class="fa fa-search"></i> Szczegóły</button>
            </a>
            <button class="btn btn-outline-warning m-1"><i class="fa fa-edit"></i>
              Edytuj
            </button>
            <button class="btn btn-outline-danger m-1"><i class="fa fa-remove"></i> Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- addRefuelingModal -->
<div class="modal fade" id="addRefuelingModal" tabindex="-1" role="dialog" aria-labelledby="addRefuelingModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addRefuelingModalLabel">Dodaj tankowanie</h5>
        <button type="button" id="closeAddRefuelingModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(addRefuelingForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #addRefuelingForm="ngForm">
          <div class="form-group mb-3">
            <label for="addDate" class="form-label">Data:</label>
            <input id="addDate" type="date" class="form-control" name="addDate" required
                   [(ngModel)]="newRefueling.date" #date="ngModel">
            <div class="text-danger" *ngIf="date.errors && (date.touched || date.dirty)">
              <small *ngIf="date.errors.required">Data jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addMeterStatus" class="form-label">Stan licznika:</label>
            <input id="addMeterStatus" type="number" class="form-control" name="addMeterStatus"
                   required min="0" max="999999" step="1"
                   [(ngModel)]="newRefueling.meterStatus" #meterStatus="ngModel">
            <div class="text-danger" *ngIf="meterStatus.errors && (meterStatus.touched || meterStatus.dirty)">
              <small *ngIf="meterStatus.errors.required">Stan licznika jest wymagany</small>
              <small *ngIf="meterStatus.errors.min">Stan licznika musi być większy niż 0</small>
              <small *ngIf="meterStatus.errors.max">Stan licznika musi być mniejszy niż 999999</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addFuelAmount" class="form-label">Ilość paliwa:</label>
            <input id="addFuelAmount" type="number" class="form-control" name="addFuelAmount"
                   required min="0" max="100" step="0.01"
                   [(ngModel)]="newRefueling.fuelAmount" #fuelAmount="ngModel">
            <div class="text-danger" *ngIf="fuelAmount.errors && (fuelAmount.touched || fuelAmount.dirty)">
              <small *ngIf="fuelAmount.errors.required">Ilość paliwa jest wymagana</small>
              <small *ngIf="fuelAmount.errors.min">Ilość paliwa musi być większa niż 0</small>
              <small *ngIf="fuelAmount.errors.max">Ilość paliwa musi być mniejsza niż 100</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addRefuelingCost" class="form-label">Koszt:</label>
            <input id="addRefuelingCost" type="number" class="form-control" name="addRefuelingCost"
                   required min="0" max="1000" step="0.01"
                   [(ngModel)]="newRefueling.refuelingCost" #refuelingCost="ngModel">
            <div class="text-danger" *ngIf="refuelingCost.errors && (refuelingCost.touched || refuelingCost.dirty)">
              <small *ngIf="refuelingCost.errors.required">Koszt jest wymagany</small>
              <small *ngIf="refuelingCost.errors.min">Koszt musi być większy niż 0</small>
              <small *ngIf="refuelingCost.errors.max">Koszt musi być mniejszy niż 1000</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addTripId" class="form-label">Wyjazd:</label>
            <select id="addTripId" type="number" class="form-control" name="addTripId" required
                    [(ngModel)]="newRefueling.tripId" #tripId="ngModel">
              <option *ngFor="let trip of trips" [ngValue]="trip.id">{{trip.departureDate}}
                - {{trip.returnDate}}</option>
            </select>
            <div class="text-danger" *ngIf="tripId.errors && (tripId.touched || tripId.dirty)">
              <small *ngIf="tripId.errors.required">Wyjazd jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(addRefuelingForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!addRefuelingForm.valid" type="submit" (click)="onAddRefueling(addRefuelingForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
