<div class="container my-3">
  <div class="row p-2 pe-lg-0 pt-lg-2 align-items-center rounded-3 border shadow">
    <div class="p-2 p-lg-5 pt-lg-3 col col-12">
      <!-- Details page title -->
      <div class="row">
        <div class="col col-12">
          <h1 class="display-4 fw-bold lh-1 border-bottom">Szczegóły wyjazdu:</h1>
        </div>
      </div>
      <!-- Details page -->
      <div class="row">
        <!-- Trip details -->
        <div class="col col-3">
          <table class="table table-bordered mt-5">
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Data wyjazdu</th>
              <td class="text-center align-middle">{{trip?.departureDate}}</td>
            </tr>
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Data powrotu</th>
              <td class="text-center align-middle">{{trip?.returnDate}}</td>
            </tr>
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Stan licznika przed</th>
              <td class="text-center align-middle">{{trip?.departureMeterStatus}}</td>
            </tr>
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Stan licznika po</th>
              <td class="text-center align-middle">{{trip?.returnMeterStatus}}</td>
            </tr>
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Przebyta droga</th>
              <td class="text-center align-middle"></td>
            </tr>
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Komentarz</th>
              <td class="text-center align-middle">{{trip?.comments}}</td>
            </tr>
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Pojazd</th>
              <td class="text-center align-middle">[{{trip?.car?.registrationNumber}}
                ] {{trip?.car?.brand}} {{trip?.car?.model}}</td>
            </tr>
            <tr>
              <th scope="row" class="table-dark text-center align-middle">Pracownik</th>
              <td class="text-center align-middle">[{{trip?.employee?.department?.company?.name}}]
                [{{trip?.employee?.department?.name}}] {{trip?.employee?.firstName}} {{trip?.employee?.lastName}}</td>
            </tr>
          </table>
        </div>
        <!-- Trip refuelings -->
        <div class="col col-8 offset-1">
          <div class="row">
            <div class="col col-12">
              <h3 class="display-5 lh-1 border-bottom mt-3">Tankowania:</h3>
              <table class="table table-bordered">
                <thead class="thead-dark">
                <tr class="table-dark">
                  <th scope="col" class="text-center">#</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="text-center align-middle">id</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- Trip repairs -->
          <div class="row">
            <div class="col col-12">
              <h3 class=" display-5 lh-1 border-bottom mt-3">Naprawy:</h3>
              <table class="table table-bordered">
                <thead class="thead-dark">
                <tr class="table-dark">
                  <th scope="col" class="text-center">Pojazd</th>
                  <th scope="col" class="text-center">Data wstawienia</th>
                  <th scope="col" class="text-center">Data odbioru</th>
                  <th scope="col" class="text-center">Koszt</th>
                  <th scope="col" class="text-center">Pracownik</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let repair of repairs">
                  <td class="text-center align-middle">[{{repair.trip.car.registrationNumber}}
                    ] {{repair.trip.car.brand}} {{repair.trip.car.model}}</td>
                  <td class="text-center align-middle">{{repair.leftDate}}</td>
                  <td class="text-center align-middle">{{repair.pickupDate}}</td>
                  <td class="text-center align-middle">{{repair.repairCost}}</td>
                  <td class="text-center align-middle">[{{repair.trip.employee.department.company.name}}]
                    [{{repair.trip.employee.department.abbreviation}}
                    ] {{repair.trip.employee.firstName}} {{repair.trip.employee.lastName}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Return to trip list page button -->
      <div class="row">
        <div class="col col-12 d-flex flex-row-reverse">
          <a href="/trips">
            <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do listy wyjazdów</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
