<div class="container-fluid trip-container">
  <div class="d-flex flex-column">
    <div class="row">
      <div class="col col-12">
        <div class="d-flex p-2 border-bottom mt-3">
          <button class="btn btn-lg btn-outline-primary text-center" data-toggle="modal"
                  data-target="#addTripModal" (click)="getCars(); getEmployees()">
            <span><i class="fa fa-road"></i></span>
            <br>Dodaj wyjazd
          </button>
        </div>
      </div>
    </div>

    <!-- Notification for no trips -->
    <div class="row">
      <div *ngIf="trips?.length == 0 else noEmptyList" class="p-2 col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading text-center"><i class="fa fa-exclamation-triangle"></i> BRAK WYJAZDÓW W BAZIE!
          </h4>
          <p class="text-center">Naciśnij przycisk 'Dodaj wyjazd' aby dodać nowy wyjazd.</p>
        </div>
      </div>
    </div>

    <!-- Return to main page button -->
    <div class="row">
      <div class="col col-12 d-flex flex-row-reverse">
        <a href="/">
          <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do strony głównej</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- List of trips -->
<ng-template #noEmptyList>
  <div class="col col=12">
    <h1 class="display-4 fw-bold lh-1 border-bottom">Lista wyjazdów:</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Data wyjazdu</th>
        <th scope="col" class="text-center">Data powrotu</th>
        <th scope="col" class="text-center">Stan licznika przed</th>
        <th scope="col" class="text-center">Stan licznika po</th>
        <th scope="col" class="text-center">Komentarze</th>
        <th scope="col" class="text-center">Pojazd</th>
        <th scope="col" class="text-center">Pracownik</th>
        <th scope="col" class="text-center">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let trip of trips">
        <th scope="row" class="text-center align-middle">{{trip.id}}</th>
        <td class="text-center align-middle">{{trip.departureDate}}</td>
        <td class="text-center align-middle">{{trip.returnDate}}</td>
        <td class="text-center align-middle">{{trip.departureMeterStatus}}</td>
        <td class="text-center align-middle">{{trip.returnMeterStatus}}</td>
        <td class="text-center align-middle">{{trip.comments}}</td>
        <td class="text-center align-middle">[{{trip.car.registrationNumber}}
          ] {{trip.car.brand}} {{trip.car.model}}</td>
        <td class="text-center align-middle">[{{trip.employee.department.company.name}}
          ] [{{trip.employee.department.abbreviation}}] {{trip.employee.firstName}} {{trip.employee.lastName}}</td>
        <td>
          <div class="d-flex justify-content-end btn-group" role="group">
            <a href="/trip/{{trip.id}}">
              <button class="btn btn-outline-info m-1"><i class="fa fa-search"></i> Szczegóły</button>
            </a>
            <button class="btn btn-outline-warning m-1" data-toggle="modal" data-target="#editTripModal"
                    (click)="onSelectTripIdToEdit(trip.id); getCars(); getEmployees()"><i class="fa fa-edit"></i>
              Edytuj
            </button>
            <button class="btn btn-outline-danger m-1"><i class="fa fa-remove"></i> Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- addTripModal -->
<div class="modal fade" id="addTripModal" tabindex="-1" role="dialog" aria-labelledby="addTripModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTripModalLabel">Dodaj wyjazd</h5>
        <button type="button" id="closeAddTripModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(addTripForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #addTripForm="ngForm">
          <div class="form-group mb-3">
            <label for="addDepartureDate" class="form-label">Data wyjazdu:</label>
            <input id="addDepartureDate" type="date" class="form-control" name="addDepartureDate" required
                   [(ngModel)]="newTrip.departureDate" #departureDate="ngModel">
            <div class="text-danger" *ngIf="departureDate.errors && (departureDate.touched || departureDate.dirty)">
              <small *ngIf="departureDate.errors.required">Data wyjazdu jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addReturnDate" class="form-label">Data powrotu:</label>
            <input id="addReturnDate" type="date" class="form-control" name="addReturnDate" required
                   [(ngModel)]="newTrip.returnDate" #returnDate="ngModel">
            <div class="text-danger" *ngIf="returnDate.errors && (returnDate.touched || returnDate.dirty)">
              <small *ngIf="returnDate.errors.required">Data powrotu jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addDepartureMeterStatus" class="form-label">Stan licznika przed:</label>
            <input id="addDepartureMeterStatus" type="number" class="form-control" name="addDepartureMeterStatus"
                   required min="0" max="999999" step="1"
                   [(ngModel)]="newTrip.departureMeterStatus" #departureMeterStatus="ngModel">
            <div class="text-danger"
                 *ngIf="departureMeterStatus.errors && (departureMeterStatus.touched || departureMeterStatus.dirty)">
              <small *ngIf="departureMeterStatus.errors.required">Stan licznika przed jest wymagany</small>
              <small *ngIf="departureMeterStatus.errors.min">Stan licznika przed musi być większy niż 0</small>
              <small *ngIf="departureMeterStatus.errors.max">Stan licznika przed musi być mniejszy niż 999999</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addReturnMeterStatus" class="form-label">Stan licznika po:</label>
            <input id="addReturnMeterStatus" type="number" class="form-control" name="addReturnMeterStatus"
                   required min="0" max="999999" step="1"
                   [(ngModel)]="newTrip.returnMeterStatus" #returnMeterStatus="ngModel">
            <div class="text-danger"
                 *ngIf="returnMeterStatus.errors && (returnMeterStatus.touched || returnMeterStatus.dirty)">
              <small *ngIf="returnMeterStatus.errors.required">Stan licznika po jest wymagany</small>
              <small *ngIf="returnMeterStatus.errors.min">Stan licznika po musi być większy niż 0</small>
              <small *ngIf="returnMeterStatus.errors.max">Stan licznika po musi być mniejszy niż 999999</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addComment" class="form-label">Komentarz:</label>
            <input id="addComment" type="text" class="form-control" name="addComment"
                   [(ngModel)]="newTrip.comments" #comments="ngModel">
          </div>
          <div class="form-group mb-3">
            <label for="addCarId" class="form-label">Pojazd:</label>
            <select id="addCarId" type="number" class="form-control" name="addCarId" required
                    [(ngModel)]="newTrip.carId" #carId="ngModel">
              <option *ngFor="let car of cars" [ngValue]="car.id">[{{car.registrationNumber}}
                ] {{car.brand}} {{car.model}}</option>
            </select>
            <div class="text-danger" *ngIf="carId.errors && (carId.touched || carId.dirty)">
              <small *ngIf="carId.errors.required">Pojazd jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addEmployeeId" class="form-label">Pracownik:</label>
            <select id="addEmployeeId" type="number" class="form-control" name="addEmployeeId" required
                    [(ngModel)]="newTrip.employeeId" #employeeId="ngModel">
              <option *ngFor="let employee of employees" [ngValue]="employee.id">[{{employee.department.company.name}}
                ] [{{employee.department.abbreviation}}] {{employee.firstName}} {{employee.lastName}}
              </option>
            </select>
            <div class="text-danger" *ngIf="carId.errors && (carId.touched || carId.dirty)">
              <small *ngIf="carId.errors.required">Pojazd jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(addTripForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!addTripForm.valid" type="submit" (click)="onAddTrip(addTripForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>

<!-- editTripModal -->
<div class="modal fade" id="editTripModal" tabindex="-1" role="dialog" aria-labelledby="editTripModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editTripModalLabel">Edytuj wyjazd nr {{editedTrip.id}}</h5>
        <button type="button" id="closeEditTripModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(editTripForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #editTripForm="ngForm">
          <div class="form-group mb-3">
            <label for="editDepartureDate" class="form-label">Data wyjazdu:</label>
            <input id="editDepartureDate" type="date" class="form-control" name="editDepartureDate" required
                   [(ngModel)]="editedTrip.departureDate" #departureDate="ngModel">
            <div class="text-danger" *ngIf="departureDate.errors && (departureDate.touched || departureDate.dirty)">
              <small *ngIf="departureDate.errors.required">Data wyjazdu jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editReturnDate" class="form-label">Data powrotu:</label>
            <input id="editReturnDate" type="date" class="form-control" name="editReturnDate" required
                   [(ngModel)]="editedTrip.returnDate" #returnDate="ngModel">
            <div class="text-danger" *ngIf="returnDate.errors && (returnDate.touched || returnDate.dirty)">
              <small *ngIf="returnDate.errors.required">Data powrotu jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editDepartureMeterStatus" class="form-label">Stan licznika przed:</label>
            <input id="editDepartureMeterStatus" type="number" class="form-control" name="editDepartureMeterStatus"
                   required
                   [(ngModel)]="editedTrip.departureMeterStatus" #departureMeterStatus="ngModel">
            <div class="text-danger"
                 *ngIf="departureMeterStatus.errors && (departureMeterStatus.touched || departureMeterStatus.dirty)">
              <small *ngIf="departureMeterStatus.errors.required">Stan licznika przed jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editReturnMeterStatus" class="form-label">Stan licznika po:</label>
            <input id="editReturnMeterStatus" type="number" class="form-control" name="editReturnMeterStatus" required
                   [(ngModel)]="editedTrip.returnMeterStatus" #returnMeterStatus="ngModel">
            <div class="text-danger"
                 *ngIf="returnMeterStatus.errors && (returnMeterStatus.touched || returnMeterStatus.dirty)">
              <small *ngIf="returnMeterStatus.errors.required">Stan licznika po jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editComment" class="form-label">Komentarz:</label>
            <input id="editComment" type="text" class="form-control" name="editComment"
                   [(ngModel)]="editedTrip.comments" #comments="ngModel">
          </div>
          <div class="form-group mb-3">
            <label for="editCarId" class="form-label">Pojazd:</label>
            <select id="editCarId" type="number" class="form-control" name="editCarId" required
                    [(ngModel)]="editedTrip.carId" #carId="ngModel">
              <option *ngFor="let car of cars" [ngValue]="car.id">[{{car.registrationNumber}}
                ] {{car.brand}} {{car.model}}</option>
            </select>
            <div class="text-danger" *ngIf="carId.errors && (carId.touched || carId.dirty)">
              <small *ngIf="carId.errors.required">Pojazd jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editEmployeeId" class="form-label">Pracownik:</label>
            <select id="editEmployeeId" type="number" class="form-control" name="editEmployeeId" required
                    [(ngModel)]="editedTrip.employeeId" #employeeId="ngModel">
              <option *ngFor="let employee of employees" [ngValue]="employee.id">[{{employee.department.company.name}}
                ] [{{employee.department.abbreviation}}] {{employee.firstName}} {{employee.lastName}}
              </option>
            </select>
            <div class="text-danger" *ngIf="carId.errors && (carId.touched || carId.dirty)">
              <small *ngIf="carId.errors.required">Pojazd jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(editTripForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!editTripForm.valid" type="submit" (click)="onUpdateTrip(editTripForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
