<div class="container-fluid carworkshops-container">
  <div class="d-flex flex-column">
    <div class="row">
      <div class="col col-12">
        <div class="d-flex p-2 border-bottom mt-3">
          <button class="btn btn-lg btn-outline-primary text-center" data-toggle="modal"
                  data-target="#addCarWorkshopModal">
            <span><i class="fa fa-university"></i></span>
            <br>Dodaj warsztat
          </button>
        </div>
      </div>
    </div>

    <!-- Notification for no carworkshops -->
    <div class="row">
      <div *ngIf="carWorkshops?.length == 0 else noEmptyList" class="p-2 col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading text-center"><i class="fa fa-exclamation-triangle"></i> BRAK WARSZTATÓW W BAZIE!</h4>
          <p class="text-center">Naciśnij przycisk 'Dodaj warsztat' aby dodać nowy warsztat.</p>
        </div>
      </div>
    </div>

    <!-- Return to main page button -->
    <div class="row">
      <div class="col col-12 d-flex flex-row-reverse">
        <a href="/">
          <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do strony głównej</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- List of carworkshopss -->
<ng-template #noEmptyList>
  <div class="col col=12">
    <h1 class="display-4 fw-bold lh-1 border-bottom">Lista warsztatów:</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Nazwa</th>
        <th scope="col" class="text-center">Ulica</th>
        <th scope="col" class="text-center">Numer</th>
        <th scope="col" class="text-center">Kod pocztowy</th>
        <th scope="col" class="text-center">Miasto</th>
        <th scope="col" class="text-center">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let carWorkshop of carWorkshops">
        <th scope="row" class="text-center align-middle">{{carWorkshop.id}}</th>
        <td class="text-center align-middle">{{carWorkshop.name}}</td>
        <td class="text-center align-middle">{{carWorkshop.street}}</td>
        <td class="text-center align-middle">{{carWorkshop.number}}</td>
        <td class="text-center align-middle">{{carWorkshop.zipCode}}</td>
        <td class="text-center align-middle">{{carWorkshop.city}}</td>
        <td>
          <div class="d-flex justify-content-end btn-group" role="group">
            <a href="/carworkshop/{{carWorkshop.id}}">
              <button class="btn btn-outline-info m-1"><i class="fa fa-search"></i> Szczegóły</button>
            </a>
            <button class="btn btn-outline-warning m-1" data-toggle="modal"
                    data-target="#editCarWorkshopModal" (click)="onSelectCarWorkshopIdToEdit(carWorkshop.id)"><i
              class="fa fa-edit"></i>
              Edytuj
            </button>
            <button class="btn btn-outline-danger m-1"><i class="fa fa-remove"></i> Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- addCarWorkshopModal -->
<div class="modal fade" id="addCarWorkshopModal" tabindex="-1" role="dialog" aria-labelledby="addCarWorkshopModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCarWorkshopModalLabel">Dodaj warsztat</h5>
        <button type="button" id="closeAddCarWorkshopModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(addCarWorkshopForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #addCarWorkshopForm="ngForm">
          <div class="form-group mb-3">
            <label for="addName" class="form-label">Nazwa:</label>
            <input id="addName" type="text" class="form-control" name="addName" required
                   [(ngModel)]="newCarWorkshop.name" #name="ngModel">
            <div class="text-danger" *ngIf="name.errors && (name.touched || name.dirty)">
              <small *ngIf="name.errors.required">Nazwa jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addZipCode" class="form-label">Kod pocztowy:</label>
            <input id="addZipCode" type="text" class="form-control" name="addZipCode" required
                   [(ngModel)]="newCarWorkshop.zipCode" #zipCode="ngModel">
            <div class="text-danger" *ngIf="zipCode.errors && (zipCode.touched || zipCode.dirty)">
              <small *ngIf="zipCode.errors.required">Kod pocztowy jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addCity" class="form-label">Miasto:</label>
            <input id="addCity" type="text" class="form-control" name="addCity" required
                   [(ngModel)]="newCarWorkshop.city" #city="ngModel">
            <div class="text-danger"
                 *ngIf="city.errors && (city.touched || city.dirty)">
              <small *ngIf="city.errors.required">Miasto jest wymagane</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addStreet" class="form-label">Ulica:</label>
            <input id="addStreet" type="text" class="form-control" name="addStreet" required
                   [(ngModel)]="newCarWorkshop.street" #street="ngModel">
            <div class="text-danger"
                 *ngIf="street.errors && (street.touched || street.dirty)">
              <small *ngIf="street.errors.required">Ulica jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addNumber" class="form-label">Numer:</label>
            <input id="addNumber" type="text" class="form-control" name="addNumber" required
                   [(ngModel)]="newCarWorkshop.number" #number="ngModel">
            <div class="text-danger"
                 *ngIf="number.errors && (number.touched || number.dirty)">
              <small *ngIf="number.errors.required">Numer jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(addCarWorkshopForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!addCarWorkshopForm.valid" type="submit" (click)="onAddCarWorkshop(addCarWorkshopForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>

<!-- editCarWorkshopModal -->
<div class="modal fade" id="editCarWorkshopModal" tabindex="-1" role="dialog"
     aria-labelledby="editCarWorkshopModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCarWorkshopModalLabel">Edytuj warsztat nr {{editedCarWorkshop.id}}</h5>
        <button type="button" id="closeEditCarWorkshopModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(editCarWorkshopForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #editCarWorkshopForm="ngForm">
          <div class="form-group mb-3">
            <label for="editName" class="form-label">Nazwa:</label>
            <input id="editName" type="text" class="form-control" name="editName" required
                   [(ngModel)]="editedCarWorkshop.name" #name="ngModel">
            <div class="text-danger" *ngIf="name.errors && (name.touched || name.dirty)">
              <small *ngIf="name.errors.required">Nazwa jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editZipCode" class="form-label">Kod pocztowy:</label>
            <input id="editZipCode" type="text" class="form-control" name="editZipCode" required
                   [(ngModel)]="editedCarWorkshop.zipCode" #zipCode="ngModel">
            <div class="text-danger" *ngIf="zipCode.errors && (zipCode.touched || zipCode.dirty)">
              <small *ngIf="zipCode.errors.required">Kod pocztowy jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editCity" class="form-label">Miasto:</label>
            <input id="editCity" type="text" class="form-control" name="editCity" required
                   [(ngModel)]="editedCarWorkshop.city" #city="ngModel">
            <div class="text-danger"
                 *ngIf="city.errors && (city.touched || city.dirty)">
              <small *ngIf="city.errors.required">Miasto jest wymagane</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editStreet" class="form-label">Ulica:</label>
            <input id="editStreet" type="text" class="form-control" name="editStreet" required
                   [(ngModel)]="editedCarWorkshop.street" #street="ngModel">
            <div class="text-danger"
                 *ngIf="street.errors && (street.touched || street.dirty)">
              <small *ngIf="street.errors.required">Ulica jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editNumber" class="form-label">Numer:</label>
            <input id="editNumber" type="text" class="form-control" name="editNumber" required
                   [(ngModel)]="editedCarWorkshop.number" #number="ngModel">
            <div class="text-danger"
                 *ngIf="number.errors && (number.touched || number.dirty)">
              <small *ngIf="number.errors.required">Numer jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(editCarWorkshopForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!editCarWorkshopForm.valid" type="submit" (click)="onUpdateCarWorkshop(editCarWorkshopForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
