<div class="container-fluid fleetcard-container">
  <div class="d-flex flex-column">
    <div class="row">
      <div class="col col-12">
        <div class="d-flex p-2 border-bottom mt-3">
          <button class="btn btn-lg btn-outline-primary text-center" data-toggle="modal"
                  data-target="#addFleetCardModal" (click)="getCars()">
            <span><i class="fa fa-credit-card"></i></span>
            <br>Dodaj Kartę Floty
          </button>
        </div>
      </div>
    </div>

    <!-- Notification for no fleetcards -->
    <div class="row">
      <div *ngIf="fleetCards?.length == 0 else noEmptyList" class="p-2 col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading text-center"><i class="fa fa-exclamation-triangle"></i> BRAK KART FLOTY W BAZIE!
          </h4>
          <p class="text-center">Naciśnij przycisk 'Dodaj Kartę Floty' aby dodać nową Kartę Floty.</p>
        </div>
      </div>
    </div>

    <!-- Return to main page button -->
    <div class="row">
      <div class="col col-12 d-flex flex-row-reverse">
        <a href="/">
          <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do strony głównej</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- List of fleetcards -->
<ng-template #noEmptyList>
  <div class="col col=12">
    <h1 class="display-4 fw-bold lh-1 border-bottom">Lista Kart Floty:</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Numer</th>
        <th scope="col" class="text-center">Data ważności</th>
        <th scope="col" class="text-center">Typ</th>
        <th scope="col" class="text-center">Pojazd</th>
        <th scope="col" class="text-center">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let fleetCard of fleetCards">
        <th scope="row" class="text-center align-middle">{{fleetCard.id}}</th>
        <td class="text-center align-middle">{{fleetCard.number}}</td>
        <td class="text-center align-middle">{{fleetCard.expirationDate}}</td>
        <td class="text-center align-middle">{{fleetCard.type}}</td>
        <td class="text-center align-middle">[{{fleetCard.car.registrationNumber}}
          ] {{fleetCard.car.brand}} {{fleetCard.car.model}}</td>
        <td>
          <div class="d-flex justify-content-end btn-group" role="group">
            <a href="/fleetcard/{{fleetCard.id}}">
              <button class="btn btn-outline-info m-1"><i class="fa fa-search"></i> Szczegóły</button>
            </a>
            <button class="btn btn-outline-warning m-1" data-toggle="modal" data-target="#editFleetCardModal"
                    (click)="onSelectFleetCardIdToEdit(fleetCard.id); getCars()"><i class="fa fa-edit"></i>
              Edytuj
            </button>
            <button class="btn btn-outline-danger m-1"><i class="fa fa-remove"></i> Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- addFleetCardModal -->
<div class="modal fade" id="addFleetCardModal" tabindex="-1" role="dialog" aria-labelledby="addFleetCardModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addFleetCardModalLabel">Dodaj Kartę Floty</h5>
        <button type="button" id="closeAddFleetCardModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(addFleetCardForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #addFleetCardForm="ngForm">
          <div class="form-group mb-3">
            <label for="addNumber" class="form-label">Numer:</label>
            <input id="addNumber" type="text" class="form-control" name="addNumber" required
                   [(ngModel)]="newFleetCard.number" #number="ngModel">
            <div class="text-danger" *ngIf="number.errors && (number.touched || number.dirty)">
              <small *ngIf="number.errors.required">Numer jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addExpirationDate" class="form-label">Data ważności:</label>
            <input id="addExpirationDate" type="date" class="form-control" name="addExpirationDate" required
                   [(ngModel)]="newFleetCard.expirationDate" #expirationDate="ngModel">
            <div class="text-danger" *ngIf="expirationDate.errors && (expirationDate.touched || expirationDate.dirty)">
              <small *ngIf="expirationDate.errors.required">Data ważności jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addType" class="form-label">Typ:</label>
            <input id="addType" type="text" class="form-control" name="addType" required
                   [(ngModel)]="newFleetCard.type" #type="ngModel">
            <div class="text-danger" *ngIf="type.errors && (type.touched || type.dirty)">
              <small *ngIf="type.errors.required">Typ jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addCarId" class="form-label">Pojazd:</label>
            <select id="addCarId" type="number" class="form-control" name="addCarId" required
                    [(ngModel)]="newFleetCard.carId" #carId="ngModel">
              <option *ngFor="let car of cars" [ngValue]="car.id">[{{car.registrationNumber}}
                ] {{car.brand}} {{car.model}}</option>
            </select>
            <div class="text-danger" *ngIf="carId.errors && (carId.touched || carId.dirty)">
              <small *ngIf="carId.errors.required">Pojazd jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(addFleetCardForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!addFleetCardForm.valid" type="submit" (click)="onAddFleetCard(addFleetCardForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>

<!-- editFleetCardModal -->
<div class="modal fade" id="editFleetCardModal" tabindex="-1" role="dialog" aria-labelledby="editFleetCardModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editFleetCardModalLabel">Edytuj Kartę Floty nr {{editedFleetCard.id}}</h5>
        <button type="button" id="closeEditFleetCardModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(editFleetCardForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #editFleetCardForm="ngForm">
          <div class="form-group mb-3">
            <label for="editFirstName" class="form-label">Numer:</label>
            <input id="editFirstName" type="text" class="form-control" name="editFirstName" required
                   [(ngModel)]="editedFleetCard.number" #number="ngModel">
            <div class="text-danger" *ngIf="number.errors && (number.touched || number.dirty)">
              <small *ngIf="number.errors.required">Numer jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editExpirationDate" class="form-label">Data ważności:</label>
            <input id="editExpirationDate" type="date" class="form-control" name="editExpirationDate" required
                   [(ngModel)]="editedFleetCard.expirationDate" #expirationDate="ngModel">
            <div class="text-danger" *ngIf="expirationDate.errors && (expirationDate.touched || expirationDate.dirty)">
              <small *ngIf="expirationDate.errors.required">Data ważności jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editType" class="form-label">Typ:</label>
            <input id="editType" type="text" class="form-control" name="editType" required
                   [(ngModel)]="editedFleetCard.type" #type="ngModel">
            <div class="text-danger" *ngIf="type.errors && (type.touched || type.dirty)">
              <small *ngIf="type.errors.required">Typ jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editCarId" class="form-label">Pojazd:</label>
            <select id="editCarId" type="number" class="form-control" name="editCarId" required
                    [(ngModel)]="editedFleetCard.carId" #carId="ngModel">
              <option *ngFor="let car of cars" [ngValue]="car.id">[{{car.registrationNumber}}
                ] {{car.brand}} {{car.model}}</option>
            </select>
            <div class="text-danger" *ngIf="carId.errors && (carId.touched || carId.dirty)">
              <small *ngIf="carId.errors.required">Pojazd jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(editFleetCardForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!editFleetCardForm.valid" type="submit" (click)="onUpdateFleetCard(editFleetCardForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
