<div class="container-fluid department-container">
  <div class="d-flex flex-column">
    <div class="row">
      <div class="col col-12">
        <div class="d-flex p-2 border-bottom mt-3">
          <button class="btn btn-lg btn-outline-primary text-center" data-toggle="modal"
                  data-target="#addDepartmentModal" (click)="getCompanies()">
            <span><i class="fa fa-users"></i></span>
            <br>Dodaj departament
          </button>
        </div>
      </div>
    </div>

    <!-- Notification for no departments -->
    <div class="row">
      <div *ngIf="departments?.length == 0 else noEmptyList" class="p-2 col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading text-center"><i class="fa fa-exclamation-triangle"></i> BRAK DEPARTAMENTÓW W BAZIE!
          </h4>
          <p class="text-center">Naciśnij przycisk 'Dodaj departament' aby dodać nową firmę.</p>
        </div>
      </div>
    </div>

    <!-- Return to main page button -->
    <div class="row">
      <div class="col col-12 d-flex flex-row-reverse">
        <a href="/">
          <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do strony głównej</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- List of departments -->
<ng-template #noEmptyList>
  <div class="col col=12">
    <h1 class="display-4 fw-bold lh-1 border-bottom">Lista departamentów:</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Nazwa</th>
        <th scope="col" class="text-center">Skrót</th>
        <th scope="col" class="text-center">Komentarz</th>
        <th scope="col" class="text-center">Firma</th>
        <th scope="col" class="text-center">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let department of departments">
        <th scope="row" class="text-center align-middle">{{department.id}}</th>
        <td class="text-center align-middle">{{department.name}}</td>
        <td class="text-center align-middle">{{department.abbreviation}}</td>
        <td class="text-center align-middle">{{department.comment}}</td>
        <td class="text-center align-middle">{{department.company.name}}</td>
        <td>
          <div class="d-flex justify-content-end btn-group" role="group">
            <a href="/department/{{department.id}}">
              <button class="btn btn-outline-info m-1"><i class="fa fa-search"></i> Szczegóły</button>
            </a>
            <button class="btn btn-outline-warning m-1"><i class="fa fa-edit"></i>
              Edytuj
            </button>
            <button class="btn btn-outline-danger m-1"><i class="fa fa-remove"></i> Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- addDepartmentModal -->
<div class="modal fade" id="addDepartmentModal" tabindex="-1" role="dialog" aria-labelledby="addDepartmentModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addDepartmentModalLabel">Dodaj departament</h5>
        <button type="button" id="closeAddDepartmentModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(addDepartmentForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #addDepartmentForm="ngForm">
          <div class="form-group mb-3">
            <label for="addName" class="form-label">Nazwa:</label>
            <input id="addName" type="text" class="form-control" name="addName" required
                   [(ngModel)]="newDepartment.name" #name="ngModel">
            <div class="text-danger" *ngIf="name.errors && (name.touched || name.dirty)">
              <small *ngIf="name.errors.required">Nazwa jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addAbbreviation" class="form-label">Skrót:</label>
            <input id="addAbbreviation" type="text" class="form-control" name="addAbbreviation" required
                   [(ngModel)]="newDepartment.abbreviation" #abbreviation="ngModel">
            <div class="text-danger" *ngIf="abbreviation.errors && (abbreviation.touched || abbreviation.dirty)">
              <small *ngIf="abbreviation.errors.required">Skrót jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addComment" class="form-label">Komentarz:</label>
            <input id="addComment" type="text" class="form-control" name="addComment"
                   [(ngModel)]="newDepartment.comment" #comment="ngModel">
          </div>
          <div class="form-group mb-3">
            <label for="addCompanyId" class="form-label">Firma:</label>
            <select id="addCompanyId" type="number" class="form-control" name="addCompanyId" required
                    [(ngModel)]="newDepartment.companyId" #companyId="ngModel">
              <option *ngFor="let company of companies" [ngValue]="company.id">{{company.name}}</option>
            </select>
            <div class="text-danger" *ngIf="companyId.errors && (companyId.touched || companyId.dirty)">
              <small *ngIf="companyId.errors.required">Firma jest wymagana</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(addDepartmentForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!addDepartmentForm.valid" type="submit" (click)="onAddDepartment(addDepartmentForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
