<div class="container-fluid employee-container">
  <div class="d-flex flex-column">
    <div class="row">
      <div class="col col-12">
        <div class="d-flex p-2 border-bottom mt-3">
          <button class="btn btn-lg btn-outline-primary text-center" data-toggle="modal"
                  data-target="#addEmployeeModal" (click)="getDepartments()">
            <span><i class="fa fa-users"></i></span>
            <br>Dodaj pracownika
          </button>
        </div>
      </div>
    </div>

    <!-- Notification for no employees -->
    <div class="row">
      <div *ngIf="employees?.length == 0 else noEmptyList" class="p-2 col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading text-center"><i class="fa fa-exclamation-triangle"></i> BRAK PRACOWNIKÓW W BAZIE!
          </h4>
          <p class="text-center">Naciśnij przycisk 'Dodaj pracownika' aby dodać nowego pracownika.</p>
        </div>
      </div>
    </div>

    <!-- Return to main page button -->
    <div class="row">
      <div class="col col-12 d-flex flex-row-reverse">
        <a href="/">
          <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do strony głównej</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- List of employees -->
<ng-template #noEmptyList>
  <div class="col col=12">
    <h1 class="display-4 fw-bold lh-1 border-bottom">Lista pracowników:</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Imię</th>
        <th scope="col" class="text-center">Nazwisko</th>
        <th scope="col" class="text-center">Firma</th>
        <th scope="col" class="text-center">Departament</th>
        <th scope="col" class="text-center">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row" class="text-center align-middle">{{employee.id}}</th>
        <td class="text-center align-middle">{{employee.firstName}}</td>
        <td class="text-center align-middle">{{employee.lastName}}</td>
        <td class="text-center align-middle">{{employee.department.company.name}}</td>
        <td class="text-center align-middle">{{employee.department.name}}</td>
        <td>
          <div class="d-flex justify-content-end btn-group" role="group">
            <a href="/employee/{{employee.id}}">
              <button class="btn btn-outline-info m-1"><i class="fa fa-search"></i> Szczegóły</button>
            </a>
            <button class="btn btn-outline-warning m-1" data-toggle="modal" data-target="#editEmployeeModal"
                    (click)="onSelectEmployeeIdToEdit(employee.id); getDepartments()"><i class="fa fa-edit"></i>
              Edytuj
            </button>
            <button class="btn btn-outline-danger m-1"><i class="fa fa-remove"></i> Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- addEmployeeModal -->
<div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="addEmployeeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Dodaj pracownika</h5>
        <button type="button" id="closeAddEmployeeModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(addEmployeeForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #addEmployeeForm="ngForm">
          <div class="form-group mb-3">
            <label for="addFirstName" class="form-label">Imię:</label>
            <input id="addFirstName" type="text" class="form-control" name="addFirstName" required
                   [(ngModel)]="newEmployee.firstName" #firstName="ngModel">
            <div class="text-danger" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
              <small *ngIf="firstName.errors.required">Imię jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addLastName" class="form-label">Nazwisko:</label>
            <input id="addLastName" type="text" class="form-control" name="addLastName" required
                   [(ngModel)]="newEmployee.lastName" #lastName="ngModel">
            <div class="text-danger" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
              <small *ngIf="lastName.errors.required">Nazwisko jest wymagane</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addDepartmentId" class="form-label">Departament:</label>
            <select id="addDepartmentId" type="number" class="form-control" name="addDepartmentId" required
                    [(ngModel)]="newEmployee.departmentId" #departmentId="ngModel">
              <option *ngFor="let department of departments" [ngValue]="department.id">[{{department.company.name}}
                ] {{department.name}}</option>
            </select>
            <div class="text-danger" *ngIf="departmentId.errors && (departmentId.touched || departmentId.dirty)">
              <small *ngIf="departmentId.errors.required">Departament jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(addEmployeeForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!addEmployeeForm.valid" type="submit" (click)="onAddEmployee(addEmployeeForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>

<!-- editDepartmentModal -->
<div class="modal fade" id="editEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="editEmployeeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editEmployeeModalLabel">Edytuj pracownika nr {{editedEmployee.id}}</h5>
        <button type="button" id="closeEditEmployeeModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(editEmployeeForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #editEmployeeForm="ngForm">
          <div class="form-group mb-3">
            <label for="editFirstName" class="form-label">Imię:</label>
            <input id="editFirstName" type="text" class="form-control" name="editFirstName" required
                   [(ngModel)]="editedEmployee.firstName" #firstName="ngModel">
            <div class="text-danger" *ngIf="firstName.errors && (firstName.touched || firstName.dirty)">
              <small *ngIf="firstName.errors.required">Imię jest wymagane</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editLastName" class="form-label">Nazwisko:</label>
            <input id="editLastName" type="text" class="form-control" name="editLastName" required
                   [(ngModel)]="editedEmployee.lastName" #lastName="ngModel">
            <div class="text-danger" *ngIf="lastName.errors && (lastName.touched || lastName.dirty)">
              <small *ngIf="lastName.errors.required">Nazwisko jest wymagane</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editDepartmentId" class="form-label">Firma:</label>
            <select id="editDepartmentId" type="number" class="form-control" name="editDepartmentId" required
                    [(ngModel)]="editedEmployee.departmentId" #departmentId="ngModel">
              <option *ngFor="let department of departments" [ngValue]="department.id">[{{department.company.name}}
                ] {{department.name}}</option>
            </select>
            <div class="text-danger" *ngIf="departmentId.errors && (departmentId.touched || departmentId.dirty)">
              <small *ngIf="departmentId.errors.required">Departament jest wymagany</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(editEmployeeForm)" class="btn btn-warning mx-2"><i
          class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!editEmployeeForm.valid" type="submit" (click)="onUpdateEmployee(editEmployeeForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
