<div class="container-fluid car-container">
  <div class="d-flex flex-column">
    <!--    <div-->
    <!--      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">-->
    <div class="row">
      <div class="col col-12">
        <div class="d-flex p-2 border-bottom mt-3">
          <button class="btn btn-lg btn-outline-primary text-center" data-toggle="modal"
                  data-target="#addCarModal">
            <span><i class="fa fa-car"></i></span>
            <br>Dodaj pojazd
          </button>
        </div>
      </div>
    </div>

    <!-- Notification for no cars -->
    <div class="row">
      <div *ngIf="cars?.length == 0 else noEmptyList" class="p-2 col-lg-12 col-md-12 col-xl-12">
        <div class="alert alert-warning" role="alert">
          <h4 class="alert-heading text-center"><i class="fa fa-exclamation-triangle"></i> NO CARS!</h4>
          <p class="text-center">No cars were found.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col col-12 d-flex flex-row-reverse">
        <a href="/">
          <button class="btn btn-outline-primary m-1"><i class="fa fa-arrow-left"></i> Wróć do strony głównej</button>
        </a>
      </div>
    </div>
  </div>
</div>

<!-- List of cars -->
<ng-template #noEmptyList>
  <div class="col col=12">
    <h1 class="display-4 fw-bold lh-1 border-bottom">Lista pojazdów:</h1>
    <table class="table table-bordered">
      <thead class="thead-dark">
      <tr class="table-dark">
        <th scope="col" class="text-center">#</th>
        <th scope="col" class="text-center">Nr rejestracyjny</th>
        <th scope="col" class="text-center">Marka</th>
        <th scope="col" class="text-center">Model</th>
        <th scope="col" class="text-center">VIN</th>
        <th scope="col" class="text-center">Rok produkcji</th>
        <th scope="col" class="text-center">Akcje</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let car of cars">
        <th scope="row" class="text-center align-middle">{{car.id}}</th>
        <td class="text-center align-middle">{{car.registrationNumber}}</td>
        <td class="text-center align-middle">{{car.brand}}</td>
        <td class="text-center align-middle">{{car.model}}</td>
        <td class="text-center align-middle">{{car.vinNumber}}</td>
        <td class="text-center align-middle">{{car.productionYear}}</td>
        <td>
          <div class="d-flex justify-content-end btn-group" role="group">
            <a href="/car/{{car.id}}">
              <button class="btn btn-outline-info m-1"><i class="fa fa-search"></i> Szczegóły</button>
            </a>
            <button class="btn btn-outline-warning m-1" data-toggle="modal"
                    data-target="#editCarModal" (click)="onSelectedCarIdToEdit(car.id)"><i class="fa fa-edit"></i>
              Edytuj
            </button>
            <button class="btn btn-outline-danger m-1"><i class="fa fa-remove"></i> Usuń</button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</ng-template>

<!-- addCarModal -->
<div class="modal fade" id="addCarModal" tabindex="-1" role="dialog" aria-labelledby="addCarModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addCarModalLabel">Dodaj pojazd</h5>
        <button type="button" id="closeAddCarModal" class="btn" data-dismiss="modal"
                aria-label="Close" (click)="onClear(addCarForm)"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #addCarForm="ngForm">
          <div class="form-group mb-3">
            <label for="addBrand" class="form-label">Marka:</label>
            <input id="addBrand" type="text" class="form-control" name="addBrand" required
                   [(ngModel)]="newCar.brand" #brand="ngModel">
            <div class="text-danger" *ngIf="brand.errors && (brand.touched || brand.dirty)">
              <small *ngIf="brand.errors.required">Marka jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addModel" class="form-label">Model:</label>
            <input id="addModel" type="text" class="form-control" name="addModel" required
                   [(ngModel)]="newCar.model" #model="ngModel">
            <div class="text-danger" *ngIf="model.errors && (model.touched || model.dirty)">
              <small *ngIf="model.errors.required">Model jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addRegistrationNumber" class="form-label">Numer rejestracyjny:</label>
            <input id="addRegistrationNumber" type="text" class="form-control" name="addRegistrationNumber"
                   required minlength="3" maxlength="8"
                   [(ngModel)]="newCar.registrationNumber" #registrationNumber="ngModel">
            <div class="text-danger"
                 *ngIf="registrationNumber.errors && (registrationNumber.touched || registrationNumber.dirty)">
              <small *ngIf="registrationNumber.errors.required">Numer rejestracyjny jest wymagany</small>
              <small *ngIf="registrationNumber.errors.minLength">Numer rejestracyjny musi mieć conajmniej 3
                znaki</small>
              <small *ngIf="registrationNumber.errors.maxLength">Numer rejestracyjny musi mieć maksymalnie 8
                znaków</small>
            </div>

          </div>
          <div class="form-group mb-3">
            <label for="addVinNumber" class="form-label">VIN:</label>
            <input id="addVinNumber" type="text" class="form-control" name="addVinNumber"
                   required [minlength]="17" [maxlength]="17"
                   [(ngModel)]="newCar.vinNumber" #vinNumber="ngModel">
            <div class="text-danger" *ngIf="vinNumber.errors && (vinNumber.touched || vinNumber.dirty)">
              <small *ngIf="vinNumber.errors.required">VIN jest wymagany</small>
              <small *ngIf="vinNumber.errors.min">VIN musi mieć długość 17 znaków<</small>
              <small *ngIf="vinNumber.errors.max">VIN musi mieć długość 17 znaków</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="addProductionYear" class="form-label">Rok produkcji:</label>
            <input id="addProductionYear" type="number" class="form-control" name="addProductionYear"
                   required min="2000" max="2050"
                   [(ngModel)]="newCar.productionYear" #productionYear="ngModel">
            <div class="text-danger" *ngIf="productionYear.errors && (productionYear.touched || productionYear.dirty)">
              <small *ngIf="productionYear.errors?.required">Rok produkcji jest wymagany</small>
              <small *ngIf="productionYear.errors?.minlength || productionYear.errors?.maxlength">Rok produkcji musi być
                późniejszy niż 2000</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(addCarForm)" class="btn btn-warning mx-2"><i class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!addCarForm.valid" type="submit" (click)="onAddCar(addCarForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>

<!-- editCarModal -->
<div class="modal fade" id="editCarModal" tabindex="-1" role="dialog" aria-labelledby="editCarModalLabel"
     aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editCarModalLabel">Edytuj pojazd nr {{editedCar.id}}</h5>
        <button type="button" id="closeEditCarModal" class="btn" data-dismiss="modal"
                aria-label="Close"><i class="fa fa-window-close"></i></button>
      </div>
      <div class="modal-body">
        <form #editCarForm="ngForm">
          <div class="form-group mb-3">
            <label for="editBrand" class="form-label">Marka:</label>
            <input id="editBrand" type="text" class="form-control" name="editBrand" required
                   [(ngModel)]="editedCar.brand" #brand="ngModel">
            <div class="text-danger" *ngIf="brand.errors && (brand.touched || brand.dirty)">
              <small *ngIf="brand.errors.required">Marka jest wymagana</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editModel" class="form-label">Model:</label>
            <input id="editModel" type="text" class="form-control" name="editModel" required
                   [(ngModel)]="editedCar.model" #model="ngModel">
            <div class="text-danger" *ngIf="model.errors && (model.touched || model.dirty)">
              <small *ngIf="model.errors.required">Model jest wymagany</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editRegistrationNumber" class="form-label">Numer rejestracyjny:</label>
            <input id="editRegistrationNumber" type="text" class="form-control" name="editRegistrationNumber"
                   required minlength="3" maxlength="8"
                   [(ngModel)]="editedCar.registrationNumber" #registrationNumber="ngModel">
            <div class="text-danger"
                 *ngIf="registrationNumber.errors && (registrationNumber.touched || registrationNumber.dirty)">
              <small *ngIf="registrationNumber.errors.required">Numer rejestracyjny jest wymagany</small>
              <small *ngIf="registrationNumber.errors.minLength">Numer rejestracyjny musi mieć conajmniej 3
                znaki</small>
              <small *ngIf="registrationNumber.errors.maxLength">Numer rejestracyjny musi mieć maksymalnie 8
                znaków</small>
            </div>

          </div>
          <div class="form-group mb-3">
            <label for="editVinNumber" class="form-label">VIN:</label>
            <input id="editVinNumber" type="text" class="form-control" name="editVinNumber"
                   required [minlength]="17" [maxlength]="17"
                   [(ngModel)]="editedCar.vinNumber" #vinNumber="ngModel">
            <div class="text-danger" *ngIf="vinNumber.errors && (vinNumber.touched || vinNumber.dirty)">
              <small *ngIf="vinNumber.errors.required">VIN jest wymagany</small>
              <small *ngIf="vinNumber.errors.min">VIN musi mieć długość 17 znaków<</small>
              <small *ngIf="vinNumber.errors.max">VIN musi mieć długość 17 znaków</small>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="editProductionYear" class="form-label">Rok produkcji:</label>
            <input id="editProductionYear" type="number" class="form-control" name="editProductionYear"
                   required min="2000" max="2050"
                   [(ngModel)]="editedCar.productionYear" #productionYear="ngModel">
            <div class="text-danger" *ngIf="productionYear.errors && (productionYear.touched || productionYear.dirty)">
              <small *ngIf="productionYear.errors?.required">Rok produkcji jest wymagany</small>
              <small *ngIf="productionYear.errors?.minlength || productionYear.errors?.maxlength">Rok produkcji musi być
                późniejszy niż 2000</small>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" (click)="onClear(editCarForm)" class="btn btn-warning mx-2"><i class="fa fa-close"></i>
          Wyczyść
        </button>
        <button [disabled]="!editCarForm.valid" type="submit" (click)="onUpdateCar(editCarForm)"
                class="btn btn-primary mx-2"><i class="fa fa-save"></i> Zapisz
        </button>
      </div>
    </div>
  </div>
</div>
